<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417953017859-rv5oirom7igt48og6ne5o4367h9j9c1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417953017859-rv5oirom7igt48og6ne5o4367h9j9c1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBzXzXtACz6U2NzDTylFrkCZGumfpHAa08</string>
	<key>GCM_SENDER_ID</key>
	<string>417953017859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastcampus.LMessenger</string>
	<key>PROJECT_ID</key>
	<string>lmessanger-6b982</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessanger-6b982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417953017859:ios:2ef8afc669ea0f49329e36</string>
</dict>
</plist>